body {
    background-image:url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26872d1b-be2c-4230-acc9-7337ff87b5c5/d641wzk-4e1299c0-724b-4c9a-8de8-af5c87896af7.jpg/v1/fill/w_900,h_563,q_75,strp/wallpaper___ben10__omnitrix_recalibrated__logo_by_kalangozilla_d641wzk-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD01NjMiLCJwYXRoIjoiXC9mXC8yNjg3MmQxYi1iZTJjLTQyMzAtYWNjOS03MzM3ZmY4N2I1YzVcL2Q2NDF3emstNGUxMjk5YzAtNzI0Yi00YzlhLThkZTgtYWY1Yzg3ODk2YWY3LmpwZyIsIndpZHRoIjoiPD05MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.m1JOUGIA1yEcOE32fntBiuVOnvl8bELZvCxXAm6iROM');
    background-size:cover;
      font-family:Arial;
    height: 100vh;
  }
  
  .menu {
    Background-color: #5588ff
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a{
    color: #D3D3D3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: #D3D3D3;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
    font-family'Roboto Slab', serif;
  }
